@charset "UTF8";
:root{
    --cor-primaria:#e21;
    --cor-primaria-escura:#900;
    --fundo-1:#f7f7f7;
    --fundo-2:#ffff;
}

body{
   
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-items: center;
    gap: 60px;
    background: #e7e7e7;
    margin-top: 60px;
}
img{
    display: block;
    max-width: 100%;
}

ul, li{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
a{
text-decoration: none;
}
h1, h2, h3, p{
    margin: 0px;
    padding: 0px;
}
header{
    display: grid;
    justify-items: center;
    gap: 60px;
}

.navegacao{
    display:flex;
    flex-wrap: wrap;
    gap: 60px; 
    justify-content: center;
}


li a{
    background: #fff;
    padding: 1rem 2rem;
    border-radius: 4px;
    border: 1px solid #fff;
    color: black;
    text-transform: uppercase;
    display: block;
    display: flex;
    flex-wrap: wrap;
}
li a:hover{
    border-color: var(--cor-primaria) ;
}
.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1000px;
    
}
.introducao-cover img{
    height: 100%;
    object-fit: cover;
}
.fase{
    background: #fff;
    padding: 40px;
    display: grid;
    align-content: center;
    justify-items: end;
    text-align: right;
    gap: 20px;
    position: relative;

}
.fase::before{
    content: "";
    width:60px;
    height: 4px;
    background: var(--cor-primaria);
    position: absolute;
    top: 30px;
    right: -30px;
}
.fase p{
    font-size: 1.2rem;
}
.fase h1{
    font-size: 2rem
}
.botao{
    background: var(--cor-primaria);
    color: white;
    text-transform: uppercase;
    padding: 1rem 2rem;
    border-radius: 4px;
}
.botao:hover{
    background:var(--cor-primaria-escura);
}
.subtitulo{
    text-transform: uppercase;
    font-size:4rem ;
    color: rgba(0, 0, 0, 0.2);
    background-image: url(img/onda.svg);
    text-align: right;
    padding: 40px;
    align-self: center;
    /*word-break: break-all;*/
 }
 

.fase-lista{
    background: #fff;
    padding: 40px;
}
.itens p{
    grid-column: 2;
    font-size: 1.2rem;
}
.itens{
    border-radius: 4px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1px 20px;
    border-left: 3px solid #fff;
    
    
}
.itens:hover{
    border-color: var(--cor-primaria);
}
.lista li:nth-child(odd){
        background: #e7e7e7;
}
footer{
    background-color: #fff;
    padding: 40px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}
footer p{
    font-weight: bold;
    font-size:1rem;
}
@media (max-width: 1000px){
    .conteudo-vantagens{
        grid-template-columns: 1fr ;
}
.subtitulo{
    text-align: center;
}
}
@media (max-width:600px){
    .fase{
        text-align: left;
        justify-items: start;
    }
    header{
        gap: 30px;
    }
    .navegacao{
        margin-top:20px ;
        gap: 30px;
    }
    .conteudo{
        grid-template-columns: 1fr;
    }
    .fase::before{
        display: none;
    }
    .subtitulo{
        font-size: 3rem;
    }
}

